<h1><%= @products.name %></h1>

<p><%= @products.description %></p>
<p><%= image_tag @products.image.url(:large) %></p>
<p><%= link_to("Add to Cart", add_to_cart_path(@products), method:"post") %></p>
<p>
  <%= link_to "Back", home_path %>
</p>
