<!-- Following Menu -->
<div class="ui top massive menu">
  <!-- <div class="item">
    <img src="/images/logo.png">
  </div> -->
  <div class="ui container">
      <%= link_to "Home", home_path, :class=> "item" %>


      <%= link_to "About",   'about', :class=>"item" %>


      <%= link_to "Contact Us", 'contact', :class=>"item"%>

    <div class="right menu">
    <% if user_signed_in? %>

        <%= link_to('Logout', destroy_user_session_path, :class=>"item", method: :delete)  %>

    <% else %>

          <%= link_to('Login', new_user_session_path, :class=>"item")  %>

    <% end %>
    <% if user_signed_in? %>

        <%= link_to('Edit registration', edit_user_registration_path, :class=>"item") %>

    <% else %>

        <%= link_to('Register', new_user_registration_path, :class=>"item" ) %>

    <% end %>
    </div>

    <%= form_tag({controller: "/pages", action: "search_result"}, method: "get", class:"item") do %>
    <div class="ui search">
      <div class="ui icon input">
        <%= text_field_tag("search", "", class:'prompt', placeholder:'Search') %>
        <i class="search icon"></i>
      </div>
    </div>
    <%= select_tag 'category', options_from_collection_for_select(@categories, "id", "name", "0"), :include_blank => true, class: 'ui fluid dropdown'%>
    <% end %>
    <div class="item">
    <%= button_to shopping_cart_path, :class=>"ui animated button", method: "get" do %>
      <div class="visible content">
        <i class="shop icon"></i>
      </div>
      <div class="hidden content">Cart</div>
    <% end %>
    </div>

  </div>
</div>
