<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <%= fields_for :addresses do |address_field| %>
    <%= address_field.hidden_field :id %>
    <%= address_field.label :address_type %><br />

    <div class="fields">
      <div class="twelve wide field">
        <%= address_field.label :address_line %><br />
        <%= address_field.text_field :address_line %>
      </div>
      <div class="four wide field">
        <%= address_field.label :city %><br />
        <%= address_field.text_field :city %>
      </div>
    </div>
    <div class="two fields">
      <div class="field">
        <%= address_field.label :province_id %><br />
        <%= address_field.collection_select(:province_id, Province.all, :id, :name ) %>
      </div>
      <div class="field">
        <%= address_field.label :postalCode %><br />
        <%= address_field.text_field :postalCode %>
      </div>
    </div>
    <%= f.add_nested_fields_link :addresses, 'Add New Address', class: "ui button" %>
    <%= address_field.remove_nested_fields_link 'Delete Address', data: { confirm: 'Are you sure?'}, class: "ui button" %>
  <% end %>


  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
