<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <div class="field">
    <%= f.label :username %><br />
    <%= f.text_field :username, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :firstName %><br />
    <%= f.text_field :firstName, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :lastName %><br />
    <%= f.text_field :lastName, autocomplete: "on" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <h3>Shipping Address</h3>

  <%= fields_for :addresses do |address_field| %>
    <%= address_field.hidden_field :address_type_id, value: 1 %>
    <div class="field">
      <%= address_field.label :address_line %><br />
      <%= address_field.text_field :address_line %>
    </div>
    <div class="field">
      <%= address_field.label :city %><br />
      <%= address_field.text_field :city %>
    </div>
    <div class="field">
      <%= address_field.label :province_id %><br />
      <%= address_field.collection_select(:province_id, Province.all, :id, :name ) %>
    </div>
    <div class="field">
        <%= address_field.label :postalCode %><br />
        <%= address_field.text_field :postalCode %>
    </div>
    <div class="field">
        <%= address_field.label :country %><br />
        <%= address_field.text_field :country %>
    </div>
  <% end %>


  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
